!!!
%html
  %head
    %title
      PaulBoxley.com &mdash; #{@title}
    %script(type="text/javascript" src="http://use.typekit.com/wri1cev.js")
    %script(type="text/javascript")
      try{Typekit.load();}catch(e){}
  %body
    %h1
      PaulBoxley.com
    #content=@content