html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, cite, code, del, em, img, ins, dl, dt, dd, ol, ul, li, header, article, footer, nav {
	background: transparent;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	font-weight: lighter;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
  font-size: 14pt;
}

header, article, footer, nav {
  display: block;
}

header, article, footer {
  margin-bottom: 30px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

#wrapper {
  margin: auto;
  padding: 10px;
  width: 960px;
}

h1, h2, header nav li, article > *, footer > * {
  margin: 10px;
}

header h1 {
  border-bottom: 1px solid black;
}

header nav li {
  display: inline;
}

header img {
  box-shadow: 20px 20px 0px black;
  -moz-box-shadow: 2px 2px 4px #888888;
  -webkit-box-shadow: 2px 2px 4px #888888;
  border-left-width: 8px;
  border-bottom-width: 20px;
  border-right-width: 8px;
  border-top-width: 8px;
  border-style: solid;
  border-color: white;
  display: block;
  float: right;
  transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
}