-@posts.each do |post|
  %article{ :class => ( post.external? ? 'external' : 'internal' ) + ( post.metadata('cols') ? ' cols_' + post.metadata('cols') : '' ) }
    %h2
      - if post.external?           
        %a{ :href => post.url }
          = post.title
      - else
        = post.title
    ~ post.html          
    %span.permalink
      [
      %a{ :href => post.tweet,     :title => "Tweet '#{post.title}'" } Tweet
      ]
      &nbsp;
      [
      %a{ :href => post.permalink, :title => "Permanent link to '#{post.title}'" } Permalink
      ]