@import helpers.sass

$background_color: #888888
$article_color: #ebe4e0
$article_highlight: $article_color * 0.9
$text_color: black
$title_color: black // #7d5855

$single_col_size: 300px
$margin_size: 15px
$padding_size: 20px
$border_size: 0

$single_col_width: $single_col_size - $margin_size * 2 - $padding_size * 2 - $border_size * 2
$double_col_width: $single_col_size * 2 - $margin_size * 2 - $padding_size * 2 - $border_size * 2
$triple_col_width: $single_col_size * 3 - $margin_size * 2 - $padding_size * 2 - $border_size * 2

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, cite, code, del, em, img,
ins, dl, dt, dd, ol, ul, li, header, article, footer, nav
  background: transparent
  border: 0
  font:
    size: 100%
    weight: 200
  margin: 0
  outline: 0
  padding: 0
  vertical-align: baseline

header, article, footer, nav
  display: block

body
  background: $background_color url(http://static.paulboxley.com/background.png)
  font-family: "ProximaNova-Regular"
  font-size: 10pt
  padding: 1em
  text-rendering: optimizeLegibility

h1, h2, h3
  border-bottom: 1px solid #222222
  color: $title_color
  font-weight: normal
  padding-bottom: 0.5em

h1
  font-size: 2em
  margin: 0 0 0.5em
  text-shadow: $article_highlight 0 -2px 2px

h2
  margin: 0 0 0.5em 0

h3
  font-size: 1.2em

a
  margin: -0.25em
  padding: 0.25em

p
  margin: 1.25em 0

li
  margin: 0.25em 0

pre
  overflow: auto
  padding: 1em
  +border_radius(15px)

pre, code
  font-size: 10pt
  font-family: monospace
  border-top: 1px solid #cbc4c0
  border-left: 1px solid #cbc4c0
  border-right: 1px solid #fbf4f0
  border-bottom: 1px solid #fbf4f0

pre code
  border: none

pre, blockquote
  margin: 1em 0

blockquote
  border-left: 4px solid #ddcccc
  padding: 0 0 0 1em

iframe
  border: none

ul, ol
  margin-left: 1.5em

article, header, #pages
  background: $article_color url(http://static.paulboxley.com/paper.png)
  border: $border_size solid #777777
  line-height: 1.5em
  margin: $margin_size
  padding: $padding_size
  +border_radius(20px)
  +drop_shadow(1px, 1px, 10px, #222222)

header
  width: $single_col_width
  ul
    margin: 0
  li
    display: inline
    margin: 0
  li+li
    padding-left: 1em

article
  float: left

article.external
  width: $single_col_width
  img, object, embed
    max-width: $single_col_width
  h2
    font-size: 1.1em
    text-shadow: $article_highlight 0 -1px 1px

article, article.internal
  width: $double_col_width
  img, object, embed
    max-width: $double_col_width
  h2
    font-size: 1.6em
    text-shadow: $article_highlight 0 -2px 1px

article.cols_1
  width: $single_col_width
  img, object, embed
    max-width: $single_col_width

article.cols_2
  width: $double_col_width
  img, object, embed
    max-width: $double_col_width
		
article.cols_3
  width: $triple_col_width
  img, object, embed
    max-width: $triple_col_width

.permalink
  display: block
  font-size: 0.8em
  line-height: 0
  margin: 0
  text-align: right
  a 
    span
      display: none

article
  .permalink
    visibility: hidden
  &:hover
    .permalink
      visibility: visible

#pages
  clear: both
  width: $triple_col_width
