@import helpers.sass

!single_col_size  = 300px
!margin_size      = 15px
!padding_size     = 15px
!border_size      = 0

!single_col_width = (!single_col_size)     - (!margin_size * 2) - (!padding_size * 2) - (!border_size * 2)
!double_col_width = (!single_col_size * 2) - (!margin_size * 2) - (!padding_size * 2) - (!border_size * 2)
!triple_col_width = (!single_col_size * 3) - (!margin_size * 2) - (!padding_size * 2) - (!border_size * 2)

body
  background: #888 url(http://static.paulboxley.com/background.png)
  font-family: 'Proxima Nova','proxima-nova-1','proxima-nova-2',sans-serif
  font-size: 10pt
  text-rendering: optimizeLegibility

h1, h2
  border-bottom: 1px solid #222
  font-weight: normal
  padding-bottom: 0.5em

h2  
  margin: 0 0 .5em 0

pre
  margin: 0 0.5em 0 1em
  padding: 0 0 0 1em

blockquote
  margin: 0 0.5em 0 1em
  padding: 0 0 0 1em
  border-left: 4px solid #dcc

article, header
  background: #ebe4e0 url(http://static.paulboxley.com/paper.png)
  border: !border_size solid #777
  line-height: 1.5em
  margin: !margin_size
  padding: !padding_size
  +border_radius(20px)
  +drop_shadow(0,0,10px,#222)

header
  width: !double_col_width

article
  float: left

article.external
  width: !single_col_width
  img, object
    max-width: !single_col_width
  h2
    font-size: 1.1em

article.internal
  width: !double_col_width
  img, object
    max-width: !double_col_width
  h2
    font-size: 1.6em

article.cols_1
  width: !single_col_width
  img, object
    max-width: !single_col_width

article.cols_2
  width: !double_col_width
  img, object
    max-width: !double_col_width
    
.permalink
  display: block
  font-size: 0.8em
  line-height: 0
  margin: 0
  text-align: right

article
  .permalink
    visibility: hidden
  &:hover
    .permalink
      visibility: visible